

<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans">
	<bean id="fortuneTeller" class="com.sood.vaibhav.MyDailyFortune">
	</bean>
	
	<bean id="myCoach" class="com.sood.vaibhav.BaseballCoach">
<property name ="ft" ref="fortuneTeller"/>
	</bean>
</beans>